@media (max-width:1120px) {
    .bottom-feature-widget {
        .container {
            width: 100%;
        }
    }
}

@media (max-width:1024px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    /* .more-item .col-md-6 {
        top: 0;
    } */
    /* .bottom-feature-widget {
        margin-bottom: -40px;
        overflow: hidden;
        top: -40px;
    } */
    .bottom-feature-widget {
        // margin-bottom: -140px;
        // top: -140px;
        .feature-post-content {
            padding: 15px 10px;
        }
    }
    .product-panel {
        .container {
            width: 100%;
        }
        /*  .col-md-6 + .col-md-6 {
            margin-top: 0;
        } */
    }
    /*  .logo {
        left: -10px;
    } */
    .bs-navbar-collapse .navbar-nav {
        margin-left: -10px;
    }
}

@media (max-width: 767px) {
    //top menu
    .logo img {
        width: 135px;
    }
    .navbar {
        min-height: 55px;
    }
    /*  body {
        padding-top: 60px;
    } */
    .navbar-nav.navbar-right .switch-language > a img {
        width: 18px;
    }
    .navbar-toggle .icon-bar {
        height: 3px;
        margin-bottom: 4px;
        width: 22px;
    }
    .icon-cross {
        top: 17px;
        right: 23px;
    }
    .mobile-navbar-collapse .navbar-box {
        padding-top: 40px;
    }
    .container > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container-fluid > .navbar-collapse {
        margin-left: -10px;
        margin-right: -10px;
    }
    .navbar-nav.navbar-right .switch-language > a img {
        width: 25px;
    }
    .header .navbar-nav li ul li a {
        font-family: $font-default;
        font-weight: normal;
    }
    .bellow-hero .col-md-6 + .col-md-6 {
        padding-top: 0!important;
    }
    .bellow-hero h2 {
        font-size: 17px;
        margin: 0 0 20px;
    }
    .slideshow .button-container .btn-group {
        margin-left: 0;
    }
    .product-panel .container {
        padding: 0 10px;
    }
    .bottom-brand-widget {
        padding: 40px 0;
        .feature-logo li {
            min-height: 60px;
        }
    }
    .widget-footer,
    .bottom-feature-widget,
    .product-panel {
        .btn {
            width: 100%;
        }
    }
    .bottom-brand-widget h2.title {
        font-size: 15px;
    }
    .footer {
        [class ^="footer-menu"] {
            li {
                display: block;
                margin: 5px 0;
                &:after {
                    display: none!important;
                }
                a {
                    text-decoration: underline;
                    font-size: 12px;
                }
            }
        }
    }
    .bottom-feature-widget {
        margin-bottom: -40px;
        top: -40px;
    }
    .product-panel .product-item .product-item-heading .name img {
        width: 100px;
    }
    .logo-small {
        margin: 10px 0;
    }
}

@media(max-width: 640px) {
    .product-panel .product-item .product-item-heading .name img {
        width: 60px;
    }
}

@media(max-width: 479px) {
    .container-fluid {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .container > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container-fluid > .navbar-collapse {
        margin-left: -5px;
        margin-right: -5px;
    }
    .bellow-hero .col-md-6 {
        padding-bottom: 0;
    }
    .bellow-hero {
        text-align: center;
        .media-left,
        .media-body {
            display: block;
            float: none;
            width: auto;
            padding-right: 0;
            span {
                display: block;
                margin: 15px auto;
            }
        }
    }
}
