@media (max-width:1024px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    /* .more-item .col-md-6 {
        top: 0;
    } */
    /* .bottom-feature-widget {
        margin-bottom: -40px;
        overflow: hidden;
        top: -40px;
    } */
    .bottom-feature-widget {
        // margin-bottom: -140px;
        // top: -140px;
        .feature-post-content {
            padding: 15px 10px;
        }
        .container {
            width: 100%;
        }
    }
    .product-panel {
        .container {
            width: 100%;
        }
        /*  .col-md-6 + .col-md-6 {
            margin-top: 0;
        } */
    }
    .slideshow .slideshow-caption {
        top: 50%;
        @include transform(translateY(-50%));
    }
}

@media (max-width: 767px) {
    .slideshow .button-container .btn-group {
        margin-left: 0;
    }
    .product-panel .container {
        padding: 0 10px;
    }
    .bottom-brand-widget {
        padding: 40px 0;
        .feature-logo li {
            min-height: 60px;
        }
    }
    .widget-footer,
    .bottom-feature-widget,
    .product-panel {
        .btn {
            width: 100%;
        }
    }
    .bottom-brand-widget h2.title {
        font-size: 15px;
    }
    .footer {
        [class ^="footer-menu"] {
            li {
                display: block;
                margin: 5px 0;
                &:after {
                    display: none!important;
                }
                a {
                    text-decoration: underline;
                    font-size: 12px;
                }
            }
        }
    }
    .bottom-feature-widget {
        margin-bottom: -40px;
        top: -40px;
    }
}

@media(max-width: 500px) {
    .product-panel {
        h2 {
            font-size: 14px;
        }
        .circle-icon {
            @include square(70px);
        }
    }
}
