.widget-footer {
	.slick-slider {
		margin: 0;
	}
}
.widget-footer {
    background: $bg-primary;
    & + footer {
    	padding-top: 25px;
    }
}
.footer {
    background: $bg-primary;
    padding: 45px 0 15px;
    text-align: center;
    [class ^="footer-menu"] {
        padding: 0;
        margin: 0 0 2px;
        li {
            display: inline;
            a {
                text-transform: uppercase;
                color: #8e9498;
                &:hover {
                    color: white;
                }
            }
        }
    }
    ul li:first-child a {
        padding-left: 0;
    }
     ul li:last-child a {
        padding-right: 0;
    }
    .footer-menu-top {
        li {
            position: relative;
            & + li:after {
                border-right: 1px solid #8e9498;
                content: "";
                display: block;
                height: 11px;
                left: -1px;
                position: absolute;
                top: 50%;
                border-left: 1px solid #acb4ba;
                @include transform(translateY(-50%));
            }
            a {
                font-family: $font-default-bold;
                padding: 0 15px;letter-spacing: 1px;
                font-size: 12px;
            }
        }
    }
    .footer-menu-secondary {
        li {
            a {
                font-size: 9.97px;
                padding: 0 20px;letter-spacing: 1px;
            }
        }
    }

    .footer-menu-social {
    	 margin-top: 30px;
    	li {
    		a {
    			span {
    				font-size: 18px;
    			}
    			padding: 0 12px;
    		}
    	}
    }
}

.footer-text-top {
    font-family: $font-heading;
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 18px;
}