.header {
    .navbar-nav {
        li {
            a {
                font-family: $font-default-bold;
                color: $navbar-inverse-color;font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }
}

.logo {
    margin: 0;
    max-width: 60%;
    @include tablet {
        left: -40px;
        max-width: 100%;
        position: relative;
    }
}

