.slideshow {
    position: relative;
    .slideshow-caption {
        position: absolute;
        top: 50%;
        @include transform (translateY(-60%));
        z-index: 99;
        width: 100%;
        color: white;
        text-align: center;
        .col-md-12 {
            @media (min-width: 768px) {
                width: 98.1%;
            }
            @media (min-width: 1600px) {
                width: 97.3%;
            }
        }
    }
    h2 {
        @include tablet {
            font-size: 40px;
            margin: 0 0 20px;
        }
    }
    p {
        @include tablet {
            font-size: 14px;
            margin: 0 auto 30px;
            width: 76%;
        }
    }
    .btn {
        border-color: transparent
    }
    @media (max-width: 768px) {
        .btn {
            font-size: 12px;
            display: block;
            margin: 5px auto;
            float: none;
            min-width: 260px;
        }
    }
}

.slideshow-image {
    width: 100%!important;
    img,
    .item {
        width: 100%!important;
    }
    .visible-xs-block {
        width: 100%!important;
        @include mobile {
            height: 420px;
        }
        background-position: center center;
        background-size: cover;
    }
}

.bellow-hero {
    top: -40px;
    position: relative;
    z-index: 9;
    .col-md-6 {
        padding: 55px 40px;
        &:first-child {
            padding-left: 70px;
        }
    }
    @include tablet {
        top: -100px;
    }
    .container {
        background: white;
    }
    .col-md-6 {
        @include tablet {
            padding-bottom: 165px;
        }
    }
    .media-heading {
        font-size: 14px;
    }
    h2 {
        margin: 0 0 15px;
        font-size: 20px;
    }
    p {
        font-size: 14px;
        margin: 0 0 15px;
        & + .btn {
            margin-top: 12px;
        }
    }
    .media-left,
    .media-right {
        vertical-align: middle;
    }
    .media-left {
        padding-right: 30px;
    }
}

@media (max-width:1024px) {
    .slideshow {
        h2 {
            font-size: 20px;
            line-height: 120%;
        }
        p {
            font-size: 12px;
            margin: 0 auto 10px;
        }
        .slideshow-caption .col-md-12 {
            width: 96.88%;
        }
    }
    
    .bellow-hero {
        width: 96%;
        margin: 0 auto;
        top: -50px;
        .container {
            width: 100%;
        }
        .col-md-6:first-child {
            padding-left: 40px;
            padding-bottom: 40px;
        }
    }
}

@media (max-width: 980px) {
    .slick-dots {
        display: none!important;
    }
}

@media (max-width: 767px) {
    .bellow-hero {
        overflow: hidden;
        margin-bottom: -30px;
        .col-md-6 {
            padding: 20px 15px!important;
        }
    }
    .slideshow {
        .btn-group {
            display: block;
            padding: 0 44px;
        }
        .btn {
            min-width: 100%;
        }
        .slideshow-caption .col-md-12 {
            width: 100%;
        }
    }
}

@media(max-width: 500px) {
    .bellow-hero {
        top: -40px;
    }
    .slideshow {
        .btn-group {
            padding: 0 0px;
        }
    }
}

@media (max-width: 360px) {
    .slideshow .btn {
        font-size: 11px;
        padding: 6px 24px;
    }
}
