.slideshow {
    position: relative;
    .slideshow-caption {
        position: absolute;
        top: 50%;
        @include transform (translateY(-70%));
        z-index: 99;
        width: 100%;
        color: white;
        text-align: center;
        .col-md-12 {
            @media (min-width: 768px) {
                width: 98.1%;
            }
            @media (min-width: 1600px) {
                width: 97.3%;
            }
        }
    }
    h2 {
        @include tablet {
            font-size: 54px;
            margin: 0 0 18px;
            line-height: 75px;
        }
        &.heading {
            @include tablet {
                font-size: 40px;
                line-height: 55px;
            }
        }
    }
    p {
        @include tablet {
            line-height: 18px;
            font-size: 14px;
            margin: 0 auto 38px;
            width: 76%;
        }
    }
    .btn {
        border-color: transparent
    }
    .button-container {
        .btn-group {
            margin-left: 22px;
        }
    }
    @media (min-width: 1600px) {
        .button-container .btn-group {
            margin-left: 28px;
        }
    }
    @media (max-width: 768px) {
        .btn {
            font-size: 12px;
            display: block;
            margin: 5px auto;
            float: none;
            min-width: 260px;
        }
    }
}

.blue-overlay {
    background: #00517c;
    img,
    .visible-xs-block {
        @include opacity (0.6);
    }
}

.slideshow-image {
    width: 100%!important;
    max-height: 610px;
    img,
    .item {
        width: 100%!important;
    }
    .visible-xs-block {
        width: 100%!important;
        @include mobile {
            height: 420px;
        }
        background-position: center center;
        background-size: cover;
    }
}

.bellow-hero {
    top: -40px;
    position: relative;
    z-index: 9;
    .col-md-6 {
        padding: 55px 40px;
        &:first-child {
            padding-left: 70px;
        }
    }
    @include tablet {
        top: -67px;
    }
    .container {
        background: white;
    }
    .col-md-6 {
        @include tablet {
            padding-bottom: 165px;
        }
    }
    .media-heading {
        font-size: 14px;
    }
    h2 {
        margin: 0 0 28px;
        font-size: 20px;
    }
    p {
        font-size: 14px;
        margin: 0 0 15px;
        line-height: 20px;
        & + .btn {
            margin-top: 12px;
        }
    }
    .media-body {
        padding-top: 5px;
    }
    .media-left {
        padding-right: 30px;
        span {
            margin-left: 18px;
            margin-top: 25px;
            &.sprites-clock {
                margin-top: 14px;
            }
        }
    }
}

@media (max-width:1024px) {
    .slideshow {
        h2 {
            font-size: 20px;
            line-height: 120%;
        }
        p {
            font-size: 12px;
            margin: 0 auto 10px;
        }
        .slideshow-caption .col-md-12 {
            width: 96.88%;
        }
        .slideshow-caption {
            top: 40%!important;
        }
    }
    .bellow-hero {
        width: 96%;
        margin: 0 auto;
        top: -50px;
        .container {
            width: 100%;
        }
        .col-md-6:first-child {
            padding-left: 40px;
            padding-bottom: 40px;
        }
    }
    .slideshow .slideshow-caption {
        top: 50%;
        @include transform(translateY(-44%));
    }
}

@media (max-width: 980px) {
    .slick-dots {
        display: none!important;
    }
}

@media (max-width: 959px) {
    .bellow-hero {
        .col-md-6 + .col-md-6 {
            padding-top: 0;
        }
    }
}

@media (max-width: 767px) {
    .bellow-hero {
        overflow: hidden;
        margin-bottom: -30px;
        .col-md-6 {
            padding: 20px 15px!important;
        }
    }
    .slideshow {
        .btn-group {
            display: block;
            padding: 0 44px;
        }
        .btn {
            min-width: 100%;
        }
        p {
            line-height: 18px;
        }
        .slideshow-caption .col-md-12 {
            width: 100%;
        }
    }
}

@media(max-width: 500px) {
    .bellow-hero {
        top: -40px;
    }
    .slideshow {
        .btn-group {
            padding: 0 0px;
        }
    }
}

@media (max-width: 360px) {
    .slideshow .btn {
        font-size: 11px;
        padding: 6px 24px;
    }
}
