$font-glyphicons: "Glyphicons Halflings";
html,
body {
    height: 100%;
    &.no-scroll-y {
        overflow-y: hidden !important;
    }
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    font-family: $font-heading;
    line-height: 120%;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

a,
:hover,
:focus {
    outline: none !important;
}

.transition-effect,
%transition-effect {
    @include transition(all .15s ease-in-out);
}

.container-fluid {
    @media(min-width: 1025px) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/////////////////overwrite buttons
.btn {
    @include border-radius(0);
    font-family: $font-default-bold;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 14px 24px;
    min-width: 240px;
    border-width: 2px;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    &:hover {
        transition: all 0.3s linear 0.1s;
        color: white;
        background: #000000;
        border-color: #000;
        [class^="icon"] {
            color: white;
        }
    }
    &.btn-secondary {
        background: #304c8d;
        &:hover {
            background: #000000;
        }
    }
    &.btn-dark {
        border-color: #000000;
        background: $bg-primary;
        color: $btn-default-color;
        &:hover {
            background: #304c8d;
            border-color: transparent;
        }
    }
    &.btn-primary {
        &:hover {
            background: #1f315b;
        }
    }
    &.btn-border-dark {
        border-color: #000000;
        color: $text-color;
        &:hover {
            color: white;
            [class^="icon"] {
                color: white;
            }
        }
    }
    [class^="icon"] {
        position: absolute;
        right: 20px;
        top: 50%;
        @include transform(translateY(-50%));
    }
}

button.btn {
    border: none;
}

.col-md-6 {
    .btn {
        min-width: 100%;
        @include desktop {
            min-width: 70%;
        }
    }
}

.col-3 {
    @include desktop {
        float: left;
        width: 33.3333%
    }
}

///////////////////////// overwrite form-control==========================
.form-control {
    @include box-shadow(none !important);
    font-size: 14px;
    &.valid {
        border-width: 2px;
    }
    &:focus {
        border-width: 2px!important;
    }
}

.form-validate .form-group {
    margin-top: 13px!important;
}

.form-group {
    .col-md-6 .btn {
        min-width: 100%;
    }
}

textarea.form-control {
    min-height: 120px;
    @include tablet {
        min-height: 100px;
    }
    resize: none;
}

.has-error {
    .form-control {
        border-color: $btn-primary-bg !important;
        border-width: 2px!important;
    }
}

.has-success {
    .valid {
        border-color: #3c763d;
    }
}

.form-error {
    & + .valid-form {
        display: none;
    }
    & + .form-error {
        display: none;
    }
}

.select-box {
    select {
        @include appearances();
    }
    position: relative;
    &:after {
        @include triangle(down, 8px, #000);
        content: "";
        display: block;
        position: absolute;
        right: 14px;
        top: 50%;
        @include transform(translateY(-50%));
    }
}

// remove box-shadow on ipad,iphone
.form-control {
    //-webkit-appearance: caret;
   // -moz-appearance: caret;
    /* mobile firefox too! */
}
